%button {
  padding: $base-gutter * 2 $base-gutter * 6;
  background-color: $primary-white-color;
  border: $border-width solid;
  border-radius: $base-gutter * 2;
  outline: none;
  transition: color $timing-function, background-color $timing-function;
  cursor: pointer;

  &:hover {
    color: $primary-white-color;
  }
}

%list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%list-item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: $base-gutter * 3;
  }
}

%input {
  width: $base-gutter * 50;
  outline-color: transparent;
  transition: outline-color $timing-function;

  &:focus,
  &:active {
    outline-color: $primary-blue-color;
  }
}
