$primary-red-color: #f5001d;
$primary-yellow-color: #ff8b00;
$primary-green-color: #00c90d;
$primary-blue-color: #2790f3;
$primary-white-color: #fff;
$primary-gray-color: #333;

$base-gutter: 4px;
$border-width: 1px;
$timing-function: 0.3s ease-in-out;
